.groupRow{
	display: flex;
	align-items: center;
	padding: 10px;
	margin-top: 20px;
	cursor: pointer;
	width: 800px;
	background-color: #3b3939;
	border-radius: 20px;
	box-shadow: -5px 4px 10px 0 rgba(0, 0, 0, 0.4), 0 -2px 10px 0 rgba(0, 0, 0, 0.5);
}

.groupRow:hover {
	background-color: rgb(72, 71, 71);
	border-radius: 20px;
}

.groupImg{
	margin: 10px;
	width: 80px; /* Make the image larger */
    height: 80px; /* Keep the image square */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the area */
    margin-bottom: 10px; /* Space between the image and the name */
}

.groupName{
	font-size: 30px;
}