.post {
	width: 50%;
	margin-top: 15px;
	background-color: #282727;
	box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 1);
	border-radius: 10px;
}

.post_font {
    font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #c8c7c7;
}

.post__option > .MuiSvgIcon-root {
	color: rgb(255, 255, 255);
}

.post__option:hover > .MuiSvgIcon-root {
	color: #ffffff;
}

.post__image > img {
	width: 100%;
}

.post__top {
	display: flex;
	position: relative;
	align-items: center;
	padding: 15px;
	justify-content: space-between;
}

.post__topInfo{
	flex-grow: 1;
}

.post__avatar {
	margin-right: 10px;
}

.post__image > h3 {
	font-size: medium;
}

.post__topInfo > p {
	font-size: small;
	color: gray;
}

.post__message {
	margin-bottom: 10px;
	padding: 15px;
}

.post__message > p{
	font-size: larger;
	color: #c8c7c7;
}

.post__options {
	padding-top: 10px;
	border-top: 1px solid #707070;
	display: flex;
	justify-content: space-evenly;
	font-size: medium;
	color: gray;
	cursor: pointer;
	padding: 15px;
}

.post__option {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 5px;
	flex: 1;
}

.post__option > p {
	margin-left: 10px;
}

.customMenu {
    background-color: #333 !important; 
    color: #c8c7c7 !important;            
    border-radius: 10px !important;     
    padding: 10px !important;           
}

.customMenuItem {
    padding: 10px 20px !important;
    color: #c8c7c7 !important;
}

.customMenuItem:hover {
    background-color: #555 !important; 
}

.post_options{
	color: white;
	border: 1px solid transparent;
	border-radius: 10%;
	transition: all 0.3s ease;
}

.post_options:hover{
	border-color: #555;
	cursor: pointer;
}